.alert-icon {
    
    display: none;
	animation: dance 1s 3 alternate;
	cursor: pointer;
    
	&:hover{
        transform: scale(1.2);
	}
	
	@keyframes dance {
        50% {
            transform: rotate(-15deg);
		}
		100% {
            transform: rotate(15deg);
		}
	}
    
}

@media (min-width: 768px) {
    .alert-icon {
        display: block;
    }
}
